html {
    background-color: #fafafa;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    width: 800px;
    margin: 0 auto;
}

hr {
    margin-top: 32px;
    border: 1px solid #dddde6;
}

h1 {
    text-align: left;
}

.copyright {
    text-align: center;
    color: #73737D;
    font-size: 14px;
    font-weight: 600;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tags button {
    height: 32px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 8px;
    background-color: #0079ff;
    color: white;
    font-weight: 500;
    font-family: inherit;
    border: none;
    border-radius: 6px;
    margin-right: 8px;
    font-size: 16px;
    outline: none;
    transition: background-color 0.1s;
}

.tags button:hover {
    background-color: #0b6ddd;
    cursor: pointer;
}

.activeTag {
    background-color: #fafafa !important;
    border: 3px solid #0079ff !important;
    color: #0079ff !important;
    font-weight: 700 !important;
}

img, button {
    outline: none;
}

.photo-list {
    margin-top: 12px;
}

.photo {
    width: 800px;
}

.photo-container {
    margin-top: 32px;
    margin-bottom: 12px;
    font-weight: 500;
}

.photo-metadata {
    display: flex;
    justify-content: space-between;
    margin-top: -6px;
}

.photo-author {
    color: #73737D;
}

.photo-placeholder {
    width: 800px;
    height: 500px;
    background-color: aqua;
}

p {
    line-height: 22px;
}

a {
    color: #0079ff;
}

@media screen and (max-width: 800px) {
    .photo {
        width: 100%;
    }

    .photo-placeholder {
        width: 100%;
    }

    .app {
        width: calc(100% - 24px);
        margin: 12px;
    }
} 